<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/form.css">
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/header') %>
    <% if (success_msg) { %>
        <div class="flash-message success"><%= success_msg %></div>
    <% } %>
    <% if (error_msg) { %>
        <div class="flash-message error"><%= error_msg %></div>
    <% } %>
    <main>
        <%- body %>
    </main>
    <%- include('partials/footer') %>
</body>
</html>
