<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/menu.css">
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <h2>Menu</h2>
        <div class="menu-items-grid">
            <% menuItems.forEach(item => { 
                if (item.availability) { %>
                <div class="menu-item-card">
                    <div class="menu-item-image">
                        <img src="<%= item.image_url %>" alt="<%= item.name %>">
                    </div>
                    <div class="menu-item-details">
                        <h3><%= item.name %></h3>
                        <p><%= item.description %></p>
                        <p>Price: $<%= item.price %></p>
                        <p>Category: <%= item.category %></p>
                        <p>Calories: <%= item.calories %></p>
                        <div class="buttons">
                            <a href="/update/<%= item.menu_id %>" class="button">Edit</a>
                            <a href="/delete/<%= item.menu_id %>" class="button">Delete</a>
                            <a href="/patch/<%= item.menu_id %>" class="button">Patch Price</a>
                        </div>
                    </div>
                </div>
            <% } }) %>
        </div>
    </main>
    <%- include('partials/footer') %>
</body>
</html>
